<app-view id="StudentInfoView">

    <h2>
        <view-for variable="user" in="[$.currentUser || {}]">
            <view-eval value="(user.first_name || '') + ' ' + (user.last_name || '')"></view-eval>
        </view-for>
    </h2>

    <h4>Краткая сводка успеваемости</h4>

    <view-for variable="course" in="$.studentCourses">
        <h2><view-eval value="course.course_name"></view-eval></h2>
        <h5><view-eval value="course.group_name"></view-eval></h5>

        <table>
            <view-for variable="subject" in="course.subjects || []" static>
                <tr>
                    <td><view-eval value="console.log(subject), subject.subject_name"></view-eval></td>
                    <td><view-eval value="subject.total"></view-eval></td>
                    <td><view-eval value="subject.mark_name"></view-eval></td>
                </tr>
            </view-for>
        </table>
    </view-for>

</app-view>
