

.timetable {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.timetable-wrapper {
    position: relative;
    padding: 15px;
}


.timetable > view-for {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    font-weight: 100;
    height: 100%;
    position: relative;
}


.timetable > view-for > view-item {
    width: 170px;
    flex: 1;
}


.timetable-day {
    background-color: white;
}

.timetable-day:hover {
    background-color: rgba(49, 112, 205, 0.1);
}


.timetable-classes > view-for {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;

    padding: 5px 8px;
}


.timetable-classes > view-for > view-item {
    display: block;
}


.timetable-class {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    background-color: rgb(49, 112, 205);
    border-radius: 7px;
    padding: 0 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.timetable-class-time {
    flex-basis: 50%;

    font-size: 80%;
    color: white;
    padding: 5px;
}

.timetable-class-location {
    flex-basis: 30%;
    text-align: right;

    font-size: 80%;
    color: white;
    padding: 5px;
}

.timetable-class-title {
    flex-basis: 100%;
    font-size: 120%;
    font-weight: 400;
}

.timetable-class-professor {
    flex-basis: 100%;
}


.timetable-class-body {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;

    background-color: rgba(255, 255, 255, 1.0);
    color: rgb(51, 51, 51);
    border-radius: 7px;
    padding: 5px;
}


.timetable-day:hover .timetable-class-body {
    background-color: white;
}


.timetable-day-title {
    text-align: center;
    font-size: 150%;
    color: rgb(49, 112, 205);
    padding-bottom: 10px;
    cursor: default;
}


.timetable-curtain {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9000;
    background-color: rgba(230, 230, 230, 0.8);
}


.component-error {
    opacity: 0.9;
    border-radius: 7px;
    color: rgb(209, 67, 67);
    border: 5px solid rgb(209, 67, 67);
    background-color: rgb(247, 211, 211);;
    font-weight: 100;
    padding: 20px 60px;
}


.component-error a {
    color: rgba(209, 67, 67, 0.8);
    text-decoration: none;
    border-bottom: 1px dashed;
    font-weight: 300;
}


.component-error a:hover {
    color: rgba(209, 67, 67, 0.7);
    text-decoration: none;
    border-bottom: 1px solid;
}


.timetable-arrow {
    margin: 10px;
}

.timetable-arrow:hover {
    background-color: rgba(49, 112, 205, 0.1);
}

.timetable-arrow:active {
    background-color: rgba(49, 112, 205, 0.2);
}


.timetable-arrow i {
    color: rgb(49, 112, 205);
    cursor: pointer;
    font-size: 250%;
    padding: 10px;
}


