<app-view id="TimetableView">

    <div class="timetable-wrapper">

        <view-if condition="$.loading || $.error">
            <view-then>
                <div class="timetable-curtain">

                    <view-if condition="$.loading">
                        <view-then>
                            <view-component name="LoadingBlockComponent"></view-component>
                        </view-then>

                        <view-else>
                            <div class="component-error">
                                При загрузке данных произошла ошибка.
                            </div>
                        </view-else>
                    </view-if>
                </div>
            </view-then>

            <view-else></view-else>
        </view-if>

        <div class="timetable">

            <div class="timetable-arrow timetable-arrow-left">
                <i class="fa fa-angle-left"></i>
            </div>

            <view-for variable="day" in="$.timetable">
                <div class="timetable-day">
                    <div class="timetable-day-title">

                        <view-eval value=" $._classes = day.classes, day.title"></view-eval>

                    </div>

                    <div class="timetable-classes">

                        <view-for variable="_class" in="$._classes" static>

                            <div class="timetable-class">

                                <div class="timetable-class-time">
                                    <view-eval value="$.formatTime(_class.beginTime, _class.endTime)"></view-eval>
                                </div>

                                <div class="timetable-class-location">
                                    <view-eval value="_class.location"></view-eval>
                                </div>

                                <div class="timetable-class-body">
                                    <div class="timetable-class-title">
                                        <view-eval value="_class.title"></view-eval>
                                    </div>

                                    <div class="timetable-class-professor">
                                        <view-eval value="_class.professor"></view-eval>
                                    </div>
                                </div>

                            </div>

                        </view-for>

                    </div>
                </div>

            </view-for>

            <div class="timetable-arrow timetable-arrow-right">
                <i class="fa fa-angle-right"></i>
            </div>

        </div>
    </div>


</app-view>
