<app-view id="BaseView">

    <div class="base-container">

        <div class="base-left">
            <div class="base-logo">
                <link-to route="MainRoute">
                    <img src="../static/logo.png" alt="Электронный журнал">
                </link-to>
            </div>

            <div class="base-search">
                <input placeholder="Поиск...">
                <button type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>

            <ul class="base-links">
                <view-switch>

                    <view-case condition="($.currentUser || {}).role === 0">
                        <li><link-to route="AdminCoursesRoute">Курсы</link-to></li>
                        <li><link-to route="AdminSubjectsRoute">Предметы</link-to></li>
                        <li><link-to route="AdminUsersRoute">Пользователи</link-to></li>
                        <li><link-to route="AdminGroupsRoute">Группы</link-to></li>
                        <li><link-to route="AdminTimetableRoute">Расписание</link-to></li>
                    </view-case>

                </view-switch>
            </ul>
        </div>

        <div class="base-content">

            <div class="base-top-menu">
                <ul>
                    <li><link-to route="MainRoute">Преподаватели</link-to></li>
                    <li><link-to route="MainRoute">Курсы</link-to></li>
                    <li><link-to route="MainRoute">Расписание</link-to></li>
                </ul>
                <ul class="user-box">
                    Здравствуйте,
                    <view-for variable="user" in="[$.currentUser || {}]">
                        <view-eval value="(user.first_name || '') + ' ' + (user.last_name || '')"></view-eval>
                    </view-for>
                    (<link-to route="MainRoute">Профиль</link-to> |
                        <link-to route="LogoutRoute" args="{':random': Math.random()}">Выход</link-to>)
                </ul>
            </div>

            <div class="base">
                <view-yield></view-yield>
            </div>
        </div>

    </div>

    <view-component name="WindowComponent" id="modal-root"></view-component>

</app-view>