

body {
    font-family: 'San Francisco UI', 'Helvetica Neue', 'Lucida Sans', sans-serif;
    font-size: 0.8em;
}


.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}


button {
    background-color: rgba(49, 112, 205, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

button[autofocus] {
    background-color: rgb(49, 112, 205);
}

input {
    border: none;
}

button:hover {
    background-color: rgba(49, 112, 205, 0.9);
}

button:active {
    background-color: rgb(29, 92, 195);
}

